[req]
utf8 = yes
string_mask = utf8only
default_md = sha256
prompt = no

distinguished_name = dn_sect
req_extensions = ext_sect
x509_extensions = ext_sect

[dn_sect]
commonName = bar.example

[ext_sect]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier = hash
subjectAltName = @alt_names

[alt_names]
DNS.1 = bar.example
